<% @comments.each do |comment|%>
    <% unless comment.id.nil? %>
        <p><%= link_to "#{comment.user.nickname}さん", user_path(comment.user.id) %></p>
        <p><%= comment.content %></p>
        <% if comment.user == current_user %>
            <p><%= link_to'コメントを削除する', recipe_comment_path(comment.recipe_id, comment.id), method: :delete, remote: true %></p>
        <% end %>
    <% end %>
<% end %>
