<div class="container">
  <h1>ユーザー一覧</h1>
  <div class="user_index">
    <% @users.each do |user| %>
      <p><%= link_to user.nickname, user_path(user.id) %></p>
      <br>
    <% end %>
  </div>
</div>