<% @user.followings.each do |user| %>
<table>
<tr>
  <td>  <%= link_to user.nickname, user_path(user) %> </td>
  <!--< if @user1.id == user.id %>-->
    <td><%= link_to 'talk', "/rooms" %></td>
  <!--< end %>-->
</tr>
</table>
<% end %>
<!--< @user1.each do |user1| %>-->
<!--  < user1.nickname %> -->
<!--< end %>-->