<div class="container">
  <h1>フォロワー一覧</h1>
  <div class="user_index">
    <% @users.each do |user| %>
      <div class="user_index_clear">
        <% if user.image.present? %>
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.image %>
          <% end %>
        <% else %>
          <i class="fas fa-user-circle fa-4x fa-fw my-skyblue"></i>
        <% end %>
        <%= link_to user.nickname, user_path(user.id) %>
      </div>
    <% end %>
  </div>
</div>