// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.recipes-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.recipes-index-item:last-child {
  margin-bottom: 50px;
}

.recipe_index a {
  text-decoration: none;
}

.recipe_index:not(:last-child) {
  border-bottom: 1px solid #000;
}

.recipe_index {
  height: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.no_image_container {
  width: 120px;
  height: 150px;
  margin-right: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.heart-red{
  color:#e54747
}

.recipe_updated_at {
  position: absolute;
  right: 0;
  bottom: 10px;
  font-size: 10px;
}

.recipe_new_name {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 200px;
  height: 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

.recipe_field {
  margin: 15px 0;
}

.recipe_new_method {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 400px;
  height: 200px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

.recipe_new_materials {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 300px;
  height: 100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

.materials {
  position: relative;
}

.materials label {
  position: absolute;
  top: 5px;
  left: 0;
}

.materials textarea {
  margin-left: 45px;
}

.method {
  position: relative;
}

.method label {
  position: absolute;
  top: 5px;
  left: 0;
}

.method textarea {
  margin-left: 60px;
}

.recipe_show a {
  text-decoration: none;
}

.recipe_show h1 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.clear {
  clear: both;
}

.margin-btm {
  margin-bottom: 20px;
  margin-right: 30px;
}

.show_no_image {
  width: 220px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-bottom: 20px;
  margin-right: 30px;
}

.container h1 {
  margin-top: 40px;
  font-weight: normal;
}

.recipes_index:last-child {
  margin-bottom: 30px;
}