// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
    font-weight: normal;
    font-size: 30px;
}


.form-control {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 450px;
    height: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

.form-control-area {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 450px;
    height: 100px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

.actions {
    margin-bottom: 10px;
}

.actions-session {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-user {
    font-size: 20px;
    width: 200px;
    height: 50px;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    // display: inline-block;
    // text-align: center;
    // margin: 0 auto;
}

.container {
    // background-color: pink;
    width: 500px;
    margin: 0 auto;
}

.user-info {
    text-align: center;
    margin-bottom: 30px;
}

.user-info h2 {
    margin: 15px 0;
}

.user-info p {
    margin: 10px 0;
}

.my-skyblue {
    color: skyblue;
}

.fa-user-circle {
    margin-top: 60px;
}

.user-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  margin-bottom: 0;
}

.user-tabs li {
  list-style: none;
  float: left;
}

.user-tabs li.active {
  border-bottom: 2px solid #3ecdc6;
}

.user-tabs li.active a {
  color: #57575f;
}

.user-tabs a {
  text-decoration: none;
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}


#wrap {
    clear: both;
}

.stats {
    text-align: right;
}

.stats a {
    text-decoration: none;
    margin-right: 10px;
}

.user a {
    text-decoration: none;
}

.message_create a {
    text-decoration: none;
}

.user_index a {
    text-decoration: none;
}

.user_index p {
    margin: 0;
}

.user-info img {
    width: 120px;
    height: 120px;
    margin-top: 60px;
    border-radius: 50%;
}

.user_index img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    padding-top: 10px;
    margin-right: 50px;
    margin-left: 30px;
}

.user_index_clear {
    // width: 100px;
    height: 90px;
    position: relative;
}

.user_index i {
    float: left;
    margin: 0;
    position: absolute;
    left: 25px;
    top: 15px;
}

.user_index_clear .user_index_username {
    font-size: 30px;
    position: absolute;
    top: 25px;
    left: 150px;
}

.user_index_clear:not(:last-child) {
    border-bottom: 1px solid #000;
}

.index_recipe_wrapper > p {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.likes_recipe_wrapper > p {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.follow_btn {
    background-color: #87CEEB;
    width: 150px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 15px;
    display: block;
    margin: 0 0 10px auto;
}

.follow_btn:hover {
    background-color: rgba(137, 189, 222, .5 );
}

.unfollow_btn {
    background-color: #87CEEB;
    width: 150px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 15px;
    display: block;
    margin: 0 0 10px auto;
}

.unfollow_btn:hover {
    background-color: rgba(137, 189, 222, .5 );
}

.user_show_room_new_btn {
    background-color: #87CEEB;
    width: 150px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    float: left;
}

.user_show_room_new_btn:hover {
    background-color: rgba(137, 189, 222, .5 );
}

.user_show_to_room_btn {
    background-color: #87CEEB;
    width: 100px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    float: left;
    text-align: center;
}

.user_show_to_room_btn:hover {
    background-color: rgba(137, 189, 222, .5 );
}

#follow_bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.4);
}

#following_delete_alertbox {
  margin: 300px auto 0;
  text-align: center;
  padding-top: 20px;
  width: 300px;
  height: 100px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 5px;
}

#follow_close_btn {
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
}

#follow_delete {
  border-radius: 5px;
  cursor: pointer;
}

#follow_delete a {
  color: #000;
}

.unfollow_div {
    display: inline-block;
}

.to_user_edit {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    display: block;
    width: 160px;
    text-align: center;
    background-color: #87CEEB;
    margin-bottom: 20px;
    cursor: pointer;
    margin: 0 auto;
}

.to_user_edit:hover {
    background-color: rgba(137, 189, 222, .5 );
}

.to_user_edit a {
    color: #000;
}

.links a {
    text-decoration: none;
}

.radio_button {
    cursor: pointer;
}

.img_up_btn {
    cursor: pointer;
}

.user_info_update_btn {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    display: block;
    width: 130px;
    text-align: center;
    background-color: #87CEEB;
    margin-bottom: 20px;
    font-size: 15px;
    margin-top: 20px;
}

.user_info_update_btn:hover {
    background-color: rgba(137, 189, 222, .5 );
}

.user_delete_btn {
  background-color: #ff6347;
  width: 180px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  font-size: 15px;
  display: block;
}

.user_delete_btn:hover {
  background-color: rgba(255, 99, 71, .7);
}

.change_password_btn {
    font-size: 15px;
    width: 200px;
    height: 50px;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 20px auto 10px;
}

.change_password_btn:hover {
    cursor: pointer;
}

.change_password_div {
    text-align: center;
}

.confirmation_btn {
    font-size: 15px;
    width: 200px;
    height: 50px;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 20px auto 10px;
}

.confirmation_btn:hover {
    cursor: pointer;
}

.password_reset_btn {
    font-size: 15px;
    width: 250px;
    height: 50px;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 20px auto 10px;
}

.password_reset_btn:hover {
    cursor: pointer;
}